@import "tailwindcss";

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 40px;
}

@keyframes blob-animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.service-animate-blob {
  animation: blob-animation 7s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.service-animation-delay-2000 {
  animation-delay: 2s;
}
